<%- layout('./boilerplate/main') %> 

<div class="row">

<div class="col-6 offset-33">
    <div class="card shadow" style="width: 30rem;">
        <img class="card-img-top" src="<%= bids.image %> " alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= bids.name %> </h5>
          <p class="card-text"><%= bids.description %> </p>
        </div>
        <ul class="list-group list-group-flush">
         <li class="list-group-item">created by <%= bids.createdUser.username %> </li>
            <li class="list-group-item"><%= bids.specilization %> </li>
          <li class="list-group-item"><%= bids.location %> </li>
          <li class="list-group-item">max price <%= bids.price %> </li>
        </ul>
        <div class="card-body ">
          <form class="d-inline" action="/bids/<%= bids._id %>?_method=DELETE" method="post">
            <button class="btn btn-primary">Delete</button>
        </form>
        <form class="d-inline" action="/bids/<%= bids._id %>/edit">
            <button class="btn btn-primary">edit</button>
        </form>   
                 <form action="/bids/<%= bids._id %>/closebid" method="post" class="d-inline">
            <button class="btn btn-warning">close</button></form>
        
    </div>
           
        </div>
</div>

<div class="col-6">

    <% if (bids.isClosed) { %>
     <div class="card">
         <h3>this is closed</h3>
         <h2>winner: <%= bids.highestBidder.highBidderName.username %> </h2>
         <h2>price: <%= bids.highestBidder.highPrice %> </h2>

     </div>
    <% }  else {%>
    <% if (bids.highestBidder.highBidderName) { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><h1><a href="/cards/<%= bids.highestBidder.highBidderName.card %> " class="link-dark"><%= bids.highestBidder.highBidderName.username %> </a></h1></h5>
                
                <h5 class="card-title"><%= bids.highestBidder.highPrice %></h5>
      </div>
    <% } %>
    
   </div>

    <div class="card">
        <form action="/bids/<%= bids._id %>/submitbid" method="post">
            <label for="highPrice">enter your bid amount</label>
            <% if (bids.highestBidder.highPrice) { %>
                <input type="range"  name="highPrice" id="highPrice" value="<%= bids.highestBidder.highPrice %>" max="<%= bids.highestBidder.highPrice %>" oninput="this.nextElementSibling.value = this.value">
                <output><%= bids.highestBidder.highPrice %></output>
            <% } else { %>
        
        <input type="range"  name="highPrice" id="highPrice" max="<%= bids.price %>" oninput="this.nextElementSibling.value = this.value">
        <output><%= bids.price %> </output>
        <% } %> 
                <button>submit</button>
        
        
        </form>

    </div>

   
     
        <h2>previousBidders</h2>
        <% if(bids.previousBidders.length) {%> 
       
        <% for( let i = 0; i < bids.previousBidders.length; i++ ) { %>

            
           <div class="card">
               <ul>

           <li class="list-group-item"><a href="/cards/<%= bids.previousBidders[i].previousName.card%>"> <%= bids.previousBidders[i].previousName.username %> </a></li>
           <li class="list-group-item"> <%= bids.previousBidders[i].previousPrice %> </li>
        </ul>
        <% } %> 
        
        <% } %>
    </div>

<% } %> 
</div>