<%- layout('./boilerplate/main') %> 



    <div class="row">
        <div class="col-6 offset-3">
            <div class="card" style="width: 30rem;">
                <img src="<%= cards.image %> " class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= cards.name %> </h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= cards.experience %> years </li>
                  <li class="list-group-item"><%= cards.specilization %> </li>
                  <li class="list-group-item"><%= cards.contact %> </li>
                  <li class="list-group-item"><%= cards.email %> </li>
                </ul>
                <div class="card-body">
                    <form action="/cards/<%= cards._id %>/?_method=DELETE" method="post" class="d-inline">
                    <button class="btn btn-danger btn-sm">delete</button>
                    </form>
                    <form action="/cards/<%= cards._id %>/edit" class="d-inline">
                        <button class="btn btn-warning btn-sm">edit</button>
                        </form>
                </div>
              </div>        
        </div>
        <div class="col-3">
            <div style="height: 100px; width: 20rem" class="card">
                <h3 class="card-title">enter rating and review</h3>
            <form action="/cards/<%= cards._id %>/reviewnew" method="post">
                <input type="range" name="rating" id="rating" min="1" max="5">
                <label for="review">review</label>
                <input type="text" name="review" id="review" class="form-control">
                <button>submit</button>
            </form>
            
            </div>

            <% for( let i = 0; i < cards.reviews.length; i++ ) { %>
            <div class="card">
                <h3> <%=  cards.reviews[i].rating %> </h3>
                <p><%=cards.reviews[i].review  %>  </p>
                <p>posted by <%= cards.reviews[i].user.username %> </p>
                <form action="/cards/<%= cards._id %>/review/<%= cards.reviews[i]._id%>/?_method=DELETE" class="d-inline" method="post">
                <button class="btn btn-danger btn-sm">delete</button>
                </form>
            </div>
            <% } %>
        </div>
        
    </div>


    

    


